body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #333;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

#section-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.w3schools.com/howto/photographer.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

div h2 {
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.gallery-item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.product-container {

}

.product {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 400px;
}
.product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1 / 1
}


.product-info {
    flex: 1;
    overflow: hidden;
}
.product-info h3 {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-info p {
    font-size: 1rem;
    line-height: 1.4;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .product-list {
      /* grid-template-columns: 1fr; */
  }
  .product {
      flex-direction: column;
      text-align: center;
  }
  .product img {
      width: 100px;
      height: 100px;
  }
  .product-info h3 {
      font-size: 1rem;
  }
  .product-info p {
      font-size: 0.9rem;
      -webkit-line-clamp: 1;
  }
}

.footer {
    text-align: center;
    padding: 20px;
    background: #343a40;
    color: white;
    margin-top: 40px;
}